* {
    margin: 0%;
}

:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
}

body {
    background-color: var(--bg_main);
}

section {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: Roboto;
    font-size: 45px;
    margin-top: 5%;
    margin-left: 10%;
    color: var(--text_light);
}

form {
    position: relative;
    display: flex;
    height: 85vh;
    width: 100vw;
    margin-top: 18%;
    justify-content: center;
}

input[type=text] {
    height: 4%;
    width: 79%;
    background-color: var(--bg_main);
    border: none;
    border-bottom: var(--text_light) solid 1px;
    transition-duration: 200ms;
    color: var(--text_light);
    opacity: 1;
    font-family: Roboto;
    font-size: 25px;
}

input[type=text]:focus {
    outline: none;
    border-bottom: var(--text_light) solid 2px;
    transition-duration: 200ms;
}

input[type=submit] {
    position: absolute;
    height: 5%;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Roboto;
    color: var(--text_light);
    margin-top: 12%;
    width: 80%;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 35%;
    height: 80%;
    width: 75%;
    gap: 15px;
}

.meteo-card {
    position: relative;
    height: 52%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--text_light);
}

.card-trash {
    position: absolute;
    bottom: 94%;
    right: 2%;
    height: 15px;
    width: 15px;
}

.card-location {
    position: absolute;
    margin-left: 10%;
    bottom: 85%;
    font-size: 100%;
    font-family: Roboto;
    color: var(--text_med);
}

.card-location-span {
    position: absolute;
    text-align: center;
    margin-left: 2%;
    width: 10%;
    font-size: 60%;
    background-color: var(--orange);
    border-radius: 5px;
    color: var(--text_light);
}

.card-temperature {
    position: absolute;
    font-family: Roboto;
    color: var(--text_dark);
    font-size: 400%;
    margin-left: 10%;
    bottom: 50%;
}

.card-weather {
    position: absolute;
    bottom: 10%;
    font-family: Roboto;
    font-size: 12px;
    color: var(--text_med);
    margin-left: 10%;
}

.card-weather-image {
    position: absolute;
    bottom: 20%;
    margin-left: 5%;
}

@media (width >=500px) {

    .meteo-card {
        width: 45%;
    }

    .card-location {
        bottom: 80%;
    }

    .card-trash {
        bottom: 93%;
    }
}

@media (width >=700px) {

    .meteo-card {
        width: 31%;
    }

    .card-location {
        bottom: 75%;
    }

    .card-trash {
        bottom: 92%;
    }

    input[type=text] {
        position: absolute;
        width: 35%;
        left: 10%;
    }

    input[type=submit] {
        position: absolute;
        width: 12%;
        bottom: 95.5%;
        left: 48%;
    }

    #card-container {
        margin-top: 15%;
    }
}

@media (width >=1000px) {
    .meteo-card {
            width: 20%;
        }
    
        .card-location {
            bottom: 75%;
        }
    
        .card-trash {
            bottom: 92%;
        }
    
        input[type=text] {
            bottom: 130%;
            position: absolute;
            width: 20%;
            left: 10%;
        }
    
        input[type=submit] {
            position: absolute;
            width: 5%;
            bottom: 130%;
            left: 31%;
        }
    
        #card-container {
            margin-top: 5%;
        }
}